body {
	position: relative;
}

.badge-box img {
	margin: 1px;
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* 80x15 */
#badges #smol img {
	aspect-ratio: 16 / 3;
	max-width: 80px;
}

/* 150x20 */
#badges #skinny img {
	aspect-ratio: 15 / 2;
	max-width: 150px;
}

/* 88x31 */
#badges #normal img {
	aspect-ratio: 2.839 / 1;
	max-width: 88px;
}

/* 99x56 */
#badges #stamps img {
	aspect-ratio: 1.768 / 1;
	max-width: 99px;
}
