.badge-box img {
	margin: 1px;
}

#badges #smol img {
	width: 80px;
	height: 15px;
}

#badges #skinny img {
	width: 150px;
	height: 20px;
}

#badges #normal img {
	width: 88px;
	height: 31px;
}

#badges #stamps img {
	width: 99px;
	height: 56px;
}
