@font-face {
	font-family: "IosevkaTerm";
	src: url("/assets/font/IosevkaTerm-Regular.woff2");
}
@font-face {
	font-family: "Lilex";
	src: url("/assets/font/LilexNerdFontMono-Regular.ttf");
}

:root {
	--code-block-background: var(--colorscheme-surface-dark);
	--code-block-foreground: var(--colorscheme-fg-light);
	--code-block-nontext: color-mix(var(--colorscheme-fg-dark), transparent);
	--code-block-surface: color-mix(
		var(--colorscheme-surface-light),
		transparent 60%
	);

	--code-block-subtext: var(--colorscheme-fg-light);

	--code-block-red: light-dark(
		var(--colorscheme-red-dark),
		var(--colorscheme-red-light)
	);
	--code-block-green: light-dark(
		var(--colorscheme-green-dark),
		var(--colorscheme-green-light)
	);
	--code-block-blue: light-dark(
		var(--colorscheme-blue-dark),
		var(--colorscheme-blue-light)
	);
	--code-block-cyan: light-dark(
		var(--colorscheme-cyan-dark),
		var(--colorscheme-cyan-light)
	);
	--code-block-pink: light-dark(
		var(--colorscheme-pink-dark),
		var(--colorscheme-pink-light)
	);
	--code-block-purple: light-dark(
		var(--colorscheme-purple-dark),
		var(--colorscheme-purple-light)
	);
	--code-block-yellow: light-dark(
		var(--colorscheme-yellow),
		var(--colorscheme-yellow-light)
	);
	--code-block-orange: light-dark(
		var(--colorscheme-orange-dark),
		var(--colorscheme-orange-light)
	);
}

.codeblock {
	background-color: var(--code-block-background);
	border-radius: 10px;
	padding: 1em;
	padding-top: 1.5em;

	display: grid;
	grid-template-rows: auto auto;
	margin-bottom: 1em;

	position: relative;
}

.codeblock.inline {
	border-radius: 5px;
	padding: 0 0.3em;
	display: inline-block;
	margin: 0;
}

.codeblock code,
.codeblock pre,
.codeblock samp,
.codeblock var,
.commandline {
	color: var(--code-block-foreground);
}

.codeblock code,
.codeblock pre,
.codeblock samp,
.codeblock var {
	font-family: "Lilex", monospace;
	font-size: 0.96em;
}

.commandline {
	font-family: "IosevkaTerm", monospace;
}

.codeblock:not(.inline) > code,
.codeblock:not(.inline) > pre,
.codeblock:not(.inline) > samp,
.codeblock:not(.inline) > var {
	padding-left: 1em;
}

.codeblock:not(.inline) > code,
.codeblock:not(.inline) > pre,
.codeblock:not(.inline) > samp,
.codeblock:not(.inline) > var,
.commandline {
	tab-size: 2;
	white-space: pre-wrap;
}

.codeblock .code-header {
	display: grid;
	grid-template-columns: fit-content(10em) 1fr 1em;
	position: absolute;
	width: 100%;
	padding-left: 1em;
	padding-right: 0.2em;
	padding-top: 0.12em;
	border-radius: 10px 10px 0 0;
	user-select: none;
	-moz-user-select: none;
}

.codeblock .code-header .code-desc,
.codeblock .code-header .code-copy {
	opacity: 0;
	font-size: 0.9em;
	transition: 0.3s ease;
}

.codeblock:hover .code-header .code-desc,
.codeblock:hover .code-header .code-copy {
	opacity: 100%;
	transition: 0.1s ease-out;
}

.codeblock:hover .code-header {
	background-color: var(--code-block-surface);
}

.codeblock .code-title {
	color: var(--code-block-foreground);
	font-family: Consolas, sans-serif;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

.codeblock .code-header .code-desc {
	color: var(--code-block-subtext);
	font-style: italic;
	text-align: center;
}

.codeblock .code-header .code-copy {
	position: relative;
}

.codeblock .code-header .code-copy:after {
	position: absolute;
	width: 1em;
	right: 0;
	top: 0;
	content: " ";
	font-family: "SymbolsNerdFont-Regular";
	color: var(--code-block-foreground);
}

.codeblock > code::before,
.codeblock > pre::before,
.codeblock > samp::before,
.codeblock > var::before {
	font-family: "SymbolsNerdFont-Regular";
	font-size: 1em;
	pointer-events: none;
	-moz-pointer-events: none;
	user-select: none;
	-moz-user-select: none;
}

.codeblock.shell:not(.inline) > code,
.codeblock.shell:not(.inline) > pre,
.codeblock.shell:not(.inline) > samp,
.codeblock.shell:not(.inline) > var {
	text-indent: -1em;
}

.codeblock.shell:not(.inline) > code::before,
.codeblock.shell:not(.inline) > pre::before,
.codeblock.shell:not(.inline) > samp::before,
.codeblock.shell:not(.inline) > var::before {
	content: " ";
	font-family: "SymbolsNerdFont-Regular";
	font-size: 1em;
	color: var(--code-block-purple);
	padding-right: 0.2em;
}

.codeblock .code-title::before {
	font-family: "SymbolsNerdFont-Regular";
	padding-right: 0.2em;
}

.codeblock.shell:is(.sh, .nu) .code-title::before {
	content: " ";
	color: var(--colorscheme-green);
}

.codeblock.shell.sh .code-title::after {
	content: "Sh";
}

.codeblock.shell.nu .code-title::after {
	content: "Nu";
}

.codeblock.css .code-title::before {
	content: " ";
	color: var(--colorscheme-yellow);
}

.codeblock.css .code-title::after {
	content: "Css";
}

.codeblock.html .code-title::before {
	content: " ";
	color: var(--colorscheme-orange);
}

.codeblock.html .code-title::after {
	content: "Html";
}

.syntax {
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

.syntax:not(.ws) {
	white-space: pre;
}

.syntax.ws::before {
	position: absolute;
	top: 0;
	color: var(--code-block-nontext);
}

.syntax.ws {
	position: relative;
	opacity: 0.4;
	pointer-events: none;
}

.codeblock:not(:hover) .syntax.ws::before {
	opacity: 0;
}

.shell .syntax.ws::before {
	left: 1em;
}

.syntax.ws.space::before {
	content: "·";
}

.syntax.ws.tab::before {
	content: "→";
}

.syntax.ws.indent.tab::before {
	border-left: 2px solid var(--code-block-pink);
	left: 0.2em;
}

.codeblock.shell .syntax.ws.indent.tab::before {
	text-indent: 0;
}

.syntax.ws.newline::before {
	content: "↵";
}

.commandline .syntax.ws::before {
	content: none;
}

.syntax.word {
	color: var(--code-block-foreground);
}

.syntax.element {
	color: var(--code-block-pink);
}

.syntax.string {
	color: var(--code-block-green);
}

.syntax.flag {
	color: var(--code-block-blue);
}

.syntax.exe {
	color: var(--code-block-cyan);
}

.syntax.file {
	color: var(--code-block-red);
}

.syntax.pipe {
	color: var(--code-block-pink);
}

.syntax.cont {
	color: var(--code-block-pink);
}

.syntax.redirect {
	color: var(--code-block-purple);
}

.syntax.null {
	color: var(--code-block-nontext);
}

.syntax.number {
	color: var(--code-block-orange);
}

.syntax.class {
	color: var(--code-block-blue);
}

.syntax.pseudo {
	color: var(--code-block-purple);
}

.syntax.property {
	color: var(--code-block-yellow);
}

.syntax.combinator {
	color: var(--code-block-pink);
}

.syntax.unit {
	color: var(--code-block-orange);
}

.syntax.var {
	color: var(--code-block-yellow);
}

.commandline .syntax.var {
	color: var(--colorscheme-yellow-dark);
}

.syntax:is(.comment, .placeholder) {
	color: var(--code-block-nontext);
	font-style: italic;
}

.syntax.comment {
	color: var(--code-block-nontext);
	font-style: italic;
}

.html .syntax.tag {
	color: var(--code-block-purple);
}

.html .syntax.attribute {
	color: var(--code-block-cyan);
}
