.content-warning {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	margin: 0.2em;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
}

.no-entry {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	transform: translate(-50%, -50%) scale(0.9);
	background-image: url("/assets/img/content_warning/No-Entry.png");
}

#content-warning-index .content-warning,
#content-warning-index .no-entry {
	width: 64px;
	height: 64px;
	background-size: cover;
	background-position: center;
}

#content-warning-index {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	grid-template-rows: 2em auto 1.2em;
	z-index: 900;
	background-color: var(--colorscheme-orange);
	border-radius: 0 0 1em 1em;
}

#content-warning-header {
	grid-row-start: 1;
	grid-row-end: 1;
	display: grid;
	grid-template-columns: auto auto auto;
	font-size: 1.2em;
	line-height: 1.2em;
	text-align: center;
	margin: auto;
	justify-items: center;
	padding: 0 1em 0 1em;
}

#content-warning-header img {
	height: 1.5em;
}
#content-warning-header img:first-of-type {
	justify-self: start;
}
#content-warning-header img:last-of-type {
	justify-self: end;
}

#content-warning-index-items {
	display: none;
	grid-row-start: 2;
	grid-row-end: 2;
	font-size: 1.1em;
	padding-left: 1em;
	padding-right: 1em;
}

#content-warning-index.active #content-warning-index-items {
	display: block;
}

.content-warning-index-item {
	display: grid;
	grid-template-columns: 64px 1fr;
	align-items: center;
}
.content-warning-index-item:nth-child(even) {
	background-color: var(--colorscheme-orange-dark);
}

.content-warning-index-item p {
	padding: 1em;
}

#content-warning-index-toggle {
	grid-row-start: 3;
	grid-row-end: 3;
	width: 100%;
	text-align: center;
	background-color: var(--colorscheme-orange-dark);
	border-radius: 0 0 1em 1em;
	cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
}

.content-warning-container {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: fit-content;
	height: fit-content;
	background-color: color-mix(var(--colorscheme-fg), transparent 50%);
	border-radius: 0px 0.7rem 0px 3px;
}

.content-warnings {
	width: 0;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	height: 100%;
	background-color: color-mix(var(--colorscheme-fg), transparent 80%);
	border-radius: 0rem 0.3rem 0.3rem 0rem;
	position: absolute;
	top: 0;
	left: 100%;
	transition: width 0.2s linear;
	transition-delay: 0s;
	z-index: 100;
}

.warning {
	position: absolute;
	top: 0;
	right: 0;

	margin: 0em;

	background-color: color-mix(var(--colorscheme-fg), transparent 50%);
	border-radius: 0px 0.7rem 0px 3px;
	transition: border-radius 0.2s ease;
	transition-delay: 0.2s;

	background-image: url("/assets/img/content_warning/Warning.gif");
}

.mobile {
	background-image: url("/assets/img/content_warning/Mobile.png");
}

.mobile:hover {
	background-image: url("/assets/img/content_warning/Mobile.gif");
}

.violence {
	background-image: url("/assets/img/content_warning/Violence.png");
}

.violence:hover {
	background-image: url("/assets/img/content_warning/Violence.gif");
}

.blood {
	background-image: url("/assets/img/content_warning/Blood.png");
}

.blood:hover {
	background-image: url("/assets/img/content_warning/Blood.gif");
}

.language {
	background-image: url("/assets/img/content_warning/Language.png");
}

.language:hover {
	background-image: url("/assets/img/content_warning/Language.gif");
}

.spider {
	background-image: url("/assets/img/content_warning/Spider.png");
}

.spider:hover {
	background-image: url("/assets/img/content_warning/Spider.gif");
}

.volume {
	background-image: url("/assets/img/content_warning/Volume.png");
}

.volume:hover {
	background-image: url("/assets/img/content_warning/Volume.gif");
}

.flashcat {
	background-image: url("/assets/img/content_warning/FlashCat.png");
}

.flashcat:hover {
	background-image: url("/assets/img/content_warning/FlashCat.gif");
}

.suicide {
	background-image: url("/assets/img/content_warning/Sewerslide.png");
}

.suicide:hover {
	background-image: url("/assets/img/content_warning/Sewerslide.gif");
}

@media (max-width: 690px) {
	/* :root { */
	/* 	font-size: 12px; */
	/* } */

	/* .warning { */
	/* 	background-image: url("/assets/img/content_warning/Warning.gif"); */
	/* } */

	.mobile {
		background-image: url("/assets/img/content_warning/Mobile.gif");
	}

	.violence {
		background-image: url("/assets/img/content_warning/Violence.gif");
	}

	.blood {
		background-image: url("/assets/img/content_warning/Blood.gif");
	}

	.language {
		background-image: url("/assets/img/content_warning/Language.gif");
	}

	.spider {
		background-image: url("/assets/img/content_warning/Spider.gif");
	}

	.volume {
		background-image: url("/assets/img/content_warning/Volume.gif");
	}

	.flashcat {
		background-image: url("/assets/img/content_warning/FlashCat.gif");
	}
}
