@import url("/css/fonts.css");

* {
	padding: 0px;
	margin: 0 auto;
}

#backlink {
	position: absolute;
	background-color: rgb(115, 171, 171);
}

#backlink > a {
	text-decoration: none;
	color: rgb(255, 255, 0);
	font-size: 24px;
	margin: 10px;
}

#backlink > a::before {
	content: "<";
	margin-right: 5%;
}

#container {
	background-color: rgb(255, 200, 255);
	margin: auto;
}

#friends td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

#friends p {
	text-align: center;
}

#friends table img {
	max-height: 64px;
}
