:root {
	--notification-width: 22 * 1rem;
	--notification-height: 4;
	--count-font-size: 1.4rem;
}

#notifications {
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(var(--notification-width) + .2rem);
	height: calc(var(--notification-height) * 1rem);
	z-index: 990;
}

#notifications .notification {
	width: calc(var(--notification-width));
	overflow: visible;
	position: relative;
	cursor: var(--cursor-pointer);
}

.notification.history:hover {
	cursor: var(--cursor-pointer);
	scale: 1.01
}

.notification.history:hover::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: .2rem;
	background-color: rgb(255, 135, 190, 0.5);
	z-index: 991;
}

.notification.history:hover::after {
	content: "";
	position: absolute;
	font-family: "SymbolsNerdFont-Regular";
	right: 46%;
	top: 50%;
	transform: translate(50%, -50%);
	font-size: 3rem;
	z-index: 992;
	color: rgb(230 40 60 / 100%)
}

.notification.history.removing::before,
.notification.history.removing::after {
	content: "";
	background: none;
}

.notification-inner {
	display: grid;
	grid-template-rows: auto auto;
	margin: .2rem;
	margin-left: auto;
	padding: .3rem;
	padding-left: .5rem;
	border-radius: .2rem;
	overflow: hidden;
}

.notification-header {
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.notification-body {
	grid-row-start: 2;
	grid-row-end: 3;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.notification-header .notification-title {
	grid-column-start: 1;
	grid-column-end: 2;
}

.notification-header .notification-time {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: end;
	justify-self: end;
	padding-right: .2rem;
	text-align: right;

	font-weight: 600;
	font-size: .8rem;
}

.notification-body .notification-message-container {
	width: calc((var(--notification-width)) - 1.4rem);
	height: fit-content;
}

.notification.default .notification-inner {
	background-color: rgba(var(--ruby), 0.8);
	border-right: .3rem solid rgb(var(--ruby));
}

.notification.error .notification-inner {
	background-color: rgba(242, 90, 90, 0.8);
	border-right: .3rem solid rgb(236 19 19);
}

.notification.info .notification-inner {
	background-color: rgba(254, 243, 124, 0.8);
	border-right: .3rem solid rgb(254 237 18);
}

.notification .notification-title,
.notification .notification-time,
.notification .notification-message {
	user-select: none;
	cursor: var(--cursor-pointer);
}

.notification .notification-title::before {
	font-family: "SymbolsNerdFont-Regular";
	margin-right: .5rem;
}

.notification.error .notification-title::before {
	content: "";
}

.notification.info .notification-title::before {
	content: "";
}

.notification.default .notification-title::before {
	content: "";
}

.notification.fade_on .notification-inner {
	animation: notification_fade_on .5s ease-in;
}

.notification.expand_on .notification-inner {
	animation: notification_expand_on .5s ease-in;
}

.notification.pop_on .notification-inner {
	animation: notification_pop_on .5s ease-in;
}

.notification.fade_off.removing .notification-inner {
	animation: notification_fade_off 1s ease-out;
}

.notification.shrink_off.removing .notification-inner {
	animation: notification_shrink_off 1s ease-out;
}

.notification.pop_off.removing .notification-inner {
	animation: notification_pop_off 1s ease-out;
}

@keyframes notification_fade_off {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes notification_fade_on {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes notification_shrink_off {
	0% {
		width: calc(var(--notification-width));
	}

	10% {
		width: calc((var(--notification-width)) / 6);
	}

	30% {
		width: calc((var(--notification-width)) / 11);
		transform: translateX(100%);
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		width: 0rem;
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes notification_expand_on {
	0% {
		opacity: 0;
		width: 0rem;
		transform: translateX(100%);
	}

	10% {
		opacity: 1;
		width: calc(var(--notification-width) / 11);
		transform: translateX(0%);
	}

	30% {
		opacity: 1;
		width: calc(var(--notification-width) / 6);
	}

	100% {
		opacity: 1;
		width: calc(var(--notification-width));
	}

}

@keyframes notification_pop_on {

	0% {
		transform: scale(0) translateX(calc(var(--notification-width))) translateY((calc(var(--notification-height) * -1rem)));
	}

	6% {
		transform: scale(1.1) translateX(-.2rem) translateY(.2rem);
	}

	8%,
	100% {
		transform: scale(1) translateX(0rem) translateY(0rem);
	}
}

@keyframes notification_pop_off {

	0% {
		transform: scale(1);
	}

	2% {
		transform: scale(1.1) translateX(-.2rem) translateY(.2rem);
	}

	6%,
	100% {
		transform: scale(0) translateX(calc(var(--notification-width))) translateY(calc(var(--notification-height) * -1rem));
	}
}

#notification-history-container {
	display: grid;
	position: absolute;
	top: 0;
	right: 0;
	grid-template-rows: auto auto;
	width: calc(var(--notification-width) + .2rem);
	padding-left: .2rem;
	border-radius: .2rem;
	background-color: rgba(255, 190, 255, 0.8);
}

#notification-buttons-container {
	position: absolute;
	bottom: -2.2rem;
	right: .2rem;
	display: flex;
	gap: .2rem;
	width: var(--notification-width);
}

#notification-count-button,
#notification-clear-button {
	position: relative;
	background-color: rgba(255, 190, 255, 0.8);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	cursor: var(--cursor-pointer);
	opacity: 0;
	pointer-events: none;
}

#notification-count-button.active,
#notification-clear-button.active {
	opacity: 1;
	pointer-events: all;
}

#notification-count,
#notification-check,
#notification-clear {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);

	cursor: var(--cursor-pointer);
	user-select: none;
}

#notification-count-container {
	margin: auto;
	width: 100%;
	height: 100%;
	container-type: inline-size;
}

#notification-count {
	font-size: var(--count-font-size);
}

#notification-check {
	font-size: 1.5rem;
}

#notification-count,
#notification-check {
	opacity: 0;
	pointer-events: none;
}

#notification-count.active,
#notification-check.active {
	opacity: 1;
	pointer-events: all;
}

#notification-count {
	font-family: "Monaspace-Neon-Frozen";
}

#notification-count.active,
#notification-clear.active {
	opacity: 1;
	pointer-events: all;
}

#notification-clear-button #notification-clear {
	font-size: 1.5rem;
}

#notification-history {
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;
	width: var(--notification-width);
	height: 0rem;
	overflow: scroll;
	transition: height .5s ease;
}

#notification-history.active {
	height: 30rem;
	max-height: 50vh;
}

#notification-history.active~#notification-buttons-container #notification-clear-button {
	opacity: 1;
	pointer-events: all;
}
