:root {
	--notification-width: 22rem;
	--notification-height: 4;
	--count-font-size: 1.4rem;
}

#notifications {
	position: relative;
	color: light-dark(var(--colorscheme-fg), var(--colorscheme-fg-light));
	/* width: calc(var(--notification-width) + 0.2rem); */
	/* width: 0; */
	/* height: 0px; */
	margin-top: -0.2em;
	z-index: 990;
}

#notifications:has(>.notification),
#notifications.active
 {
	width: calc(var(--notification-width) + 0.2rem);
}

#notifications .notification {
	width: calc(var(--notification-width));
	overflow: visible;
	position: relative;
	cursor: var(--cursor-pointer);
}

#notifications .notification :is(h4, p:last-of-type) {
	margin: 0;
}

.notification.history:hover {
	cursor: var(--cursor-pointer);
	scale: 1.01;
}

.notification.history:hover::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
	background-color: var(--colorscheme-float-dark);
	opacity: 50%;
	z-index: 991;
}

.notification.history:hover::after {
	content: "";
	position: absolute;
	font-family: "SymbolsNerdFont-Regular";
	right: 46%;
	top: 50%;
	transform: translate(50%, -50%);
	font-size: 3rem;
	z-index: 992;
	color: var(--colorscheme-red-dark);
}

.notification.history.removing::before,
.notification.history.removing::after {
	content: "";
	background: none;
}

.notification-inner {
	display: grid;
	grid-template-rows: auto auto;
	margin: 0.2rem;
	margin-left: auto;
	padding: 0.3rem;
	padding-left: 0.5rem;
	border-radius: 0.2rem;
	overflow: hidden;
}

.notification-header {
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.notification-body {
	grid-row-start: 2;
	grid-row-end: 3;
	position: relative;
	padding-top: 0.2em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.notification-header .notification-title {
	grid-column-start: 1;
	grid-column-end: 2;
}

.notification-header .notification-time {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: end;
	justify-self: end;
	padding-right: 0.2rem;
	text-align: right;

	font-weight: 600;
	font-size: 0.8rem;
}

.notification-body .notification-message-container {
	width: calc((var(--notification-width)) - 1.4rem);
	height: fit-content;
}

.notification.default .notification-inner {
	background-color: var(--colorscheme-float-light);
	border-right: 0.3rem solid var(--colorscheme-float-dark);
}

.notification.error .notification-inner {
	background-color: var(--colorscheme-red);
	border-right: 0.3rem solid var(--colorscheme-red-dark);
}

.notification.info .notification-inner {
	background-color: var(--colorscheme-yellow-light);
	border-right: 0.3rem solid var(--colorscheme-yellow);
}

.notification .notification-title,
.notification .notification-time,
	color: var(--colorscheme-bg);
.notification .notification-message {
	user-select: none;
	cursor: var(--cursor-pointer);
}

.notification .notification-title::before {
	font-family: "SymbolsNerdFont-Regular";
	margin-right: 0.5rem;
}

.notification.error .notification-title::before {
	content: "";
}

.notification.info .notification-title::before {
	content: "";
}

.notification.default .notification-title::before {
	content: "";
}

.notification.fade_on .notification-inner {
	animation: notification_fade_on 0.5s ease-in;
}

.notification.expand_on .notification-inner {
	animation: notification_expand_on 0.5s ease-in;
}

.notification.pop_on .notification-inner {
	animation: notification_pop_on 0.5s ease-in;
}

.notification.fade_off.removing .notification-inner {
	animation: notification_fade_off 1s ease-out;
}

.notification.shrink_off.removing .notification-inner {
	animation: notification_shrink_off 1s ease-out;
}

.notification.pop_off.removing .notification-inner {
	animation: notification_pop_off 1s ease-out;
}

@keyframes notification_fade_off {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 0.8;
		transform: translateX(80%);
	}

	25%,
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes notification_fade_on {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes notification_shrink_off {
	0% {
		width: calc(var(--notification-width));
	}

	10% {
		width: calc((var(--notification-width)) / 6);
	}

	30% {
		width: calc((var(--notification-width)) / 11);
		opacity: 1;
	}

	50% {
		opacity: 0;
		width: 1rem;
	}

	100% {
		width: 1rem;
		opacity: 0;
	}
}

@keyframes notification_expand_on {
	0% {
		opacity: 0;
		width: 0rem;
		transform: translateX(100%);
	}

	10% {
		opacity: 1;
		width: calc(var(--notification-width) / 11);
		transform: translateX(0%);
	}

	30% {
		opacity: 1;
		width: calc(var(--notification-width) / 6);
	}

	100% {
		opacity: 1;
		width: calc(var(--notification-width));
	}
}

@keyframes notification_pop_on {
	0% {
		transform: scale(0) translateX(calc(var(--notification-width)))
			translateY((calc(var(--notification-height) * -1rem)));
	}

	6% {
		transform: scale(1.1) translateX(-0.2rem) translateY(0.2rem);
	}

	8%,
	100% {
		transform: scale(1) translateX(0rem) translateY(0rem);
	}
}

@keyframes notification_pop_off {
	0% {
		transform: scale(1);
	}

	2% {
		transform: scale(1.1) translateX(-0.2rem) translateY(0.2rem);
	}

	6%,
	100% {
		transform: scale(0) translateX(calc(var(--notification-width)))
			translateY(calc(var(--notification-height) * -1rem));
	}
}

#notification-history-container {
	display: grid;
	position: relative;
	top: 0;
	right: 0;
	grid-template-rows: auto auto;
	grid-auto-flow: row;

}

#notification-buttons-container {
	display: flex;
	gap: 0.2rem;
	color: var(--colorscheme-fg);
	justify-self: end;
	margin-top: 0.2em;
}

#notification-count-button,
#notification-clear-button {
	position: relative;
	background-color: var(--colorscheme-float-light);
	display: none;
}

#notification-count-button.active,
#notification-clear-button.active {
	display: block;
}

#notification-count-button:hover::after,
#notification-clear-button:hover::after {
	font-family: "SymbolsNerdFont-Regular";
	font-size: 1.5em;

  position: absolute;
  right: 0;
  top: 0;
  width: 2.3rem;
  height: 2.3rem;
	line-height: 1em;

	pointer-events: none;

	background-color: var(--colorscheme-float-dark);
	border-radius: 50%;
}
#notification-count-button:hover::after {
	content: " ";
}
#notification-history.active
	+ #notification-buttons-container
	#notification-count-button:hover::after {
	content: " ";
}
#notification-clear-button:hover::after {
	content: "";
	text-align: center;
}

#notification-count,
#notification-check,
#notification-clear {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);

	cursor: var(--cursor-pointer);
	user-select: none;
}

#notification-count-container {
	margin: auto;
	width: 100%;
	height: 100%;
	container-type: inline-size;
}

#notification-count {
	font-size: var(--count-font-size);
}

#notification-check {
	font-size: 1.5rem;
}

#notification-count,
#notification-check {
	display: none;
}

#notification-count.active,
#notification-check.active,
#notification-clear.active {
	display: block;
}

#notification-count {
	font-family: "Monaspace-Neon-Frozen";
}

#notification-clear-button #notification-clear {
	font-size: 1.5rem;
}

#notification-history {
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;
	/* width: calc(var(--notification-width) + 0.2rem); */
	padding-left: 0.2rem;
	border-radius: 0.2rem;
	height: 0rem;
	overflow: scroll;
	transition: height 0.5s ease;
	background-color: var(--colorscheme-float);
	opacity: 0;
}

#notification-history.active {
	display: block;
	height: 30rem;
	max-height: 50vh;
	opacity: 100%;
}
#notification-history:not(.active) .notification {
	display: none;
}

#notification-history.active
	~ #notification-buttons-container
	#notification-clear-button {
	display: block;
}
