:root {
	font-size: 1em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--colorscheme-bg);
}

.content-body {
	color: var(--colorscheme-fg);
	padding: 2em;
}

#backlink {
	position: absolute;
	background-color: var(--colorscheme-surface);
}

#backlink > a {
	text-decoration: none;
	color: var(--colorscheme-fg-light);
	font-size: 24px;
	margin: 10px;
}

#backlink > a::before {
	content: "<";
	margin-right: 5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin-bottom: 1rem;
}
ul :is(ul, ol),
ol :is(ul, ol) {
	margin-bottom: 0;
}

.content-body {
	margin: auto;
	width: 40rem;
	max-width: 100%;
	min-width: 16rem;
}
