:root {
	font-size: 19px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--colorscheme-bg);
}

#backlink {
	position: absolute;
	background-color: var(--colorscheme-surface);
}

#backlink > a {
	text-decoration: none;
	color: var(--colorscheme-fg-light);
	font-size: 24px;
	margin: 10px;
}

#backlink > a::before {
	content: "<";
	margin-right: 5%;
}

.content-body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--colorscheme-fg);

	width: 70dvw;
	max-width: 40rem;
	min-width: 20rem;

	padding: 2rem min(2rem, 5%);
	margin: auto;
}

.content-body > :is(p, h1, h2, h3, h4, h5, h6, ul, ol) {
	margin-bottom: 1rem;
}

h1 {
	font-size: clamp(1.8rem, 10vw, 3rem);
}
h2 {
	font-size: clamp(1.6rem, 9vw, 2.6rem);
}
h3 {
	font-size: clamp(1.5rem, 6vw, 2rem);
}
h4 {
	font-size: clamp(1.4rem, 5vw, 1.6rem);
}
h5 {
	font-size: clamp(1.3rem, 4vw, 1.4rem);
}
h6 {
	font-size: clamp(1.2rem, 3vw, 1.2rem);
}

p {
	text-align: justify;
}

ul :is(ul, ol),
ol :is(ul, ol) {
	margin-bottom: 0;
}
