:root {
	font-size: 1em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.2s linear;
}

#backlink {
	position: absolute;
	background-color: var(--colorscheme-surface);
}

#backlink > a {
	text-decoration: none;
	color: var(--colorscheme-fg-light);
	font-size: 24px;
	margin: 10px;
}

#backlink > a::before {
	content: "<";
	margin-right: 5%;
}

body {
	height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
	background-color: var(--colorscheme-bg);
}

#header {
	font-family: "The Heart of Everything Demo";
	color: var(--colorscheme-fg);
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin: auto;
}

#container {
	padding: 2em 5%;
	text-align: center;
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

#shrines-container {
	overflow: scroll;
	border-radius: 0.7em;
	scrollbar-width: none;
	padding: 1em 2em 0.3em 2em;
}

#shrines {
	columns: 15em 3;
	gap: 1.4em;
}

#shrines .card {
	margin-bottom: 1em;
	position: relative;
}

#shrines .card .card-image {
	height: 100%;
}

#shrines .card .card-image img {
	width: 100%;
	border-radius: 0.7rem;
	display: block;
}

#shrines .card:hover {
	transform: scale(1.01);
	z-index: 900;
}

#shrines .card.has-warnings img {
	transition: border-radius 0.2s linear;
	transition-delay: 0.2s;
}

#shrines .card.has-warnings:hover img,
#shrines .card.has-warnings:has(.content-warning.warning.active) img {
	transition: border-radius 0.2s linear;
	border-radius: 0.7rem 0 0 0.7rem;
	transition-delay: 0s;
}

#shrines .card.has-warnings {
	transition: margin 0.2s linear;
	transition-delay: 0.2s;
}

#shrines .card.has-warnings:hover,
#shrines .card.has-warnings:has(.content-warning.warning.active) {
	margin-left: -1em;
	margin-right: 1em;
	transition-delay: 0s;
}

.title {
	width: 100%;
	background-color: color-mix(var(--colorscheme-bg-dark), transparent 20%);
	font-family: "Monaspace-Neon-Frozen";
	/* font-family: Tahoma, Georgia; */
	color: var(--colorscheme-fg-light);
	font-size: 1.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom-right-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
	transition: border-radius 0.2s linear;
	transition-delay: 0.2s;
}

.card.has-warnings:hover .title {
	border-bottom-right-radius: 0rem;
	transition: border-radius 0.2s linear;
	transition-delay: 0s;
}

.card:hover .content-warnings,
.content-warning.warning.active + .content-warnings {
	width: 2.8em;
	transition-delay: 0.2s;
}

#toggle-button::before,
#toggle-button::after {
	content: "󰄼";
	font-family: "SymbolsNerdFont-Regular";
	padding: 0px 10px 0px 10px;
	display: inline-block;
	transform: rotate(180deg);
}
#content-warning-index.active #toggle-button::before,
#content-warning-index.active #toggle-button::after {
	transform: rotate(0deg);
}

#neovim-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%);
}

#shrines .card #neovim-logo img {
	width: 100%;
	opacity: 70%;
}

#neovim-logo::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("/assets/img/shrines/Neovim-logo.svg.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) contrast(1.2) brightness(10)
		drop-shadow(0 0 10px rgba(255, 255, 255, 1)) hue-rotate(90deg) blur(5px);
	/* transform: scale(1.1); */
	z-index: -1;
}

#shrines .card.soon img,
#shrines .card.soon .title {
	filter: brightness(0.4) contrast(1.2);
}

#shrines .card.soon::after {
	font-size: 2em;
	top: 3px;
	right: -19px;
}

#shrines .card.soon:hover {
	transform: scale(1);
}

#shrines .card.has-warnings:has(:hover, :active, .active) .warning {
	border-top-right-radius: 0em;
	transition: border-radius 0.2s ease;
	transition-delay: 0.1s;

	background-image: url("/assets/img/content_warning/Warning.gif");
}

@media (max-width: 450px) {
	:root {
		font-size: 1.3em;
	}
	#container {
		width: 100%;
	}

	#content-warning-index:not(.active) #content-warning-header h3,
	#content-warning-index:not(.active)
		#content-warning-header
		img:first-of-type {
		display: none;
	}
}
