@import url("/css/fonts.css");

:root {
	font-size: 1em;
}

* {
	margin: 0;
	padding: 0;
	transition: 0.2s linear;
}

#backlink {
	position: absolute;
	background-color: rgb(115, 171, 171);
}

#backlink>a {
	text-decoration: none;
	color: rgb(255, 255, 0);
	font-size: 24px;
	margin: 10px;
}

#backlink>a::before {
	content: "<";
	margin-right: 5%;
}

body {
	overflow: hidden;
	height: 1vh;
	font-family: Helvetica, Arial, sans-serif;
}

#header {
	font-family: "The Heart of Everything Demo";
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: auto;
}

.header>* {
	padding: 10px 10px;
}

#container {
	padding: 2rem 5%;
	text-align: center;
	max-width: 1000px;
	width: 90%;
	margin: auto;
}

#shrines-container {
	height: 70vh;
	overflow: scroll;
	border-radius: 0.7rem;
	scrollbar-width: none;
	padding: .3rem 3rem .3rem 3rem;
}

#shrines {
	columns: 15rem 3;
	gap: 1.4rem;
}

#shrines .card .card-image {
	width: 100%;
	margin-bottom: 1rem;
}

#shrines .card .card-image img {
	width: 100%;
	border-radius: 0.7rem;
}

#shrines .card:hover {
	transform: scale(1.01);
	z-index: 100;
}

#shrines .card.has-warnings img {
	transition: border-radius 0.2s linear;
	transition-delay: 0.2s;
}

#shrines .card.has-warnings:hover img,
#shrines .card.has-warnings:has(.content-warning.warning.active) img {
	transition: border-radius 0.2s linear;
	border-radius: 0.7rem 0rem 0rem 0.7rem;
	transition-delay: 0.0s;
}

#shrines .card.has-warnings {
	transition: margin 0.2s linear;
	transition-delay: 0.2s;
}

#shrines .card.has-warnings:hover,
#shrines .card.has-warnings:has(.content-warning.warning.active) {
	margin-left: -1rem;
	margin-right: 1rem;
	transition-delay: 0.0s;
}

.card {
	position: relative;
	text-align: center;
}

.title {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Monaspace-Neon-Frozen";
	/* font-family: Tahoma, Georgia; */
	color: #fff;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(-23%);
	/*   margin-bottom: 1rem; */
	border-bottom-right-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
	transition: border-radius 0.2s linear;
	transition-delay: 0.2s;
}

.card.card.has-warnings:hover .title {
	border-bottom-right-radius: 0rem;
	transition: border-radius 0.2s linear;
	transition-delay: 0.0s;
}

.content-warning-container {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: fit-content;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0px 0.7rem 0px 3px;
}

.content-warnings {
	width: 0;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	height: calc(100% - 1.2rem);
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0rem 0.3rem 0.3rem 0rem;
	position: absolute;
	top: 0;
	left: 100%;
	transition: width 0.2s linear;
	transition-delay: 0.0s;
	z-index: 100;
}

.card:hover .content-warnings,
.content-warning.warning.active+.content-warnings {
	width: 2.8rem;
	transition-delay: 0.2s;
}

.content-warning {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.2rem;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
}

#content-warning-index {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	/* width: 460px; */
	grid-template-rows: 25px auto 20px;
	z-index: 900;
	background-color: orange;
	border-radius: 0px 0px 10px 10px;
}

#content-warning-index .content-warning,
#content-warning-index .no-entry {
	width: 64px;
	height: 64px;
	background-size: cover;
	background-position: center;
}

#content-warning-header {
	grid-row-start: 1;
	grid-row-end: 1;
	display: grid;
	grid-template-columns: auto auto auto;
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	margin: auto;
	justify-items: center;
	padding: 0px 1rem 0px 1rem;
}

#content-warning-index-items {
	display: none;
	grid-row-start: 2;
	grid-row-end: 2;
	font-size: 1.1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#content-warning-index.active #content-warning-index-items {
	display: block;
}

.content-warning-index-item {
	display: grid;
	grid-template-columns: 64px 1fr;
	align-items: center;
}

.content-warning-index-item p {
	padding: 1rem;
}

#content-warning-index-toggle {
	grid-row-start: 3;
	grid-row-end: 3;
	width: 100%;
	text-align: center;
	background-color: rgba(255, 99, 0, 1.0);
	border-radius: 0px 0px 10px 10px;
	cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
}

/* #content-warning-index-toggle:hover #toggle-button { */
/* 	transform: scale(1.1); */
/* } */

#toggle-button::before,
#toggle-button::after {
	content: "󰄼";
	font-family: "SymbolsNerdFont-Regular";
	padding: 0px 10px 0px 10px;
	display: inline-block;
}

#content-warning-index.active #toggle-button::before,
#content-warning-index.active #toggle-button::after {
	transform: rotate(180deg);
}

#neovim-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%);
}

#neovim-logo img {
	width: 100%;
}

#neovim-logo::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("/assets/img/shrines/Neovim-logo.svg.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) contrast(1.2) brightness(10) drop-shadow(0 0 10px rgba(255, 255, 255, 1)) hue-rotate(90deg) blur(5px);
	/* transform: scale(1.1); */
	z-index: -1;
}

#shrines .card.soon img,
#shrines .card.soon .title {
	filter: brightness(0.4) contrast(1.2);
}

#shrines .card.soon::after {
	content: "SOON";
	font-family: "Monocraft";
	font-size: 2rem;
	position: absolute;
	top: 15px;
	right: 0px;
	color: red;
	z-index: 500;
	transform: rotate(30deg);
}

#shrines .card.soon:hover {
	transform: scale(1);
}

.no-entry {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	transform: translate(-50%, -50%) scale(0.9);
	background-image: url("/assets/img/content_warning/No-Entry.png");
}

.warning {
	position: absolute;
	top: 0;
	right: 0;

	margin: 0rem;

	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0px 0.7rem 0px 3px;
	transition: border-radius 0.2s ease;
	transition-delay: 0.2s;

	background-image: url("/assets/img/content_warning/Warning1.png");
}

.card:hover .warning {
	border-top-right-radius: 0rem;
	transition: border-radius 0.2s ease;
	transition-delay: 0.4s;

	background-image: url("/assets/img/content_warning/Warning.gif");
}

.mobile {
	background-image: url("/assets/img/content_warning/Mobile1.png");
}

.mobile:hover {
	background-image: url("/assets/img/content_warning/Mobile.gif");
}

.violence {
	background-image: url("/assets/img/content_warning/Violence1.png");
}

.violence:hover {
	background-image: url("/assets/img/content_warning/Violence.gif");
}

.blood {
	background-image: url("/assets/img/content_warning/Blood1.png");
}

.blood:hover {
	background-image: url("/assets/img/content_warning/Blood.gif");
}

.language {
	background-image: url("/assets/img/content_warning/Language1.png");
}

.language:hover {
	background-image: url("/assets/img/content_warning/Language.gif");
}

.spider {
	background-image: url("/assets/img/content_warning/Spider1.png");
}

.spider:hover {
	background-image: url("/assets/img/content_warning/Spider.gif");
}

.volume {
	background-image: url("/assets/img/content_warning/Volume1.png");
}

.volume:hover {
	background-image: url("/assets/img/content_warning/Volume.gif");
}

.flashcat {
	background-image: url("/assets/img/content_warning/FlashCat1.png");
}

.flashcat:hover {
	background-image: url("/assets/img/content_warning/FlashCat.gif");
}

@media (max-width: 690px) {

	/* :root { */
	/* 	font-size: 12px; */
	/* } */

	.warning {
		background-image: url("/assets/img/content_warning/Warning.gif");
	}

	.mobile {
		background-image: url("/assets/img/content_warning/Mobile.gif");
	}

	.violence {
		background-image: url("/assets/img/content_warning/Violence.gif");
	}

	.blood {
		background-image: url("/assets/img/content_warning/Blood.gif");
	}

	.language {
		background-image: url("/assets/img/content_warning/Language.gif");
	}

	.spider {
		background-image: url("/assets/img/content_warning/Spider.gif");
	}

	.volume {
		background-image: url("/assets/img/content_warning/Volume.gif");
	}

	.flashcat {
		background-image: url("/assets/img/content_warning/FlashCat.gif");
	}
}
