@import url("/css/updates.css");
@import url("/css/gallery.css");

:root {
	--ruby: 205, 120, 170;
	--surface-1: 219, 132, 55;
	--surface-2: 193, 255, 155;
	--page-height: 720px;
	--edge-color: 220, 125, 175;
	--edge-thickness: .4rem;

	font-size: 1.0em;

	--background-opacity: 0.5;
	--side-grad: rgba(var(--ruby), var(--background-opacity)), rgba(var(--surface-1), var(--background-opacity));

	--cursor-default: url("/assets/img/cursor/berry_cursor.png"), auto;
	--cursor-pointer: url("/assets/img/cursor/berry_cursor_link.png"), pointer;
	--cursor-text: url("/assets/img/cursor/berry_cursor_text.png") 0 20, auto;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	cursor: var(--cursor-default);
	/* cursor: url("https://files.catbox.moe/vkbt96.cur"), auto; */
	/* cursor: url("/assets/img/cursor/berry_cursor_work.png"), progress; */
}

a,
button,
.link,
.external,
.click {
	cursor: var(--cursor-pointer);
	/* cursor: url("https://files.catbox.moe/d3xg47.cur"), auto; */
}

.link {
	position: relative;
}

.link::after {
	content: "";
	font-family: "SymbolsNerdFont-Regular";
	font-size: 15px;
	position: absolute;
	right: -18px;
	top: 0px;
	opacity: 0.2;
	z-index: 8;
}

.link:hover::after {
	opacity: 1.0;
	animation: bounce 0.7s infinite cubic-bezier(0.5, 0.5, 0.5, 1.5);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	cursor: var(--cursor-text);
	/* cursor: url("https://files.catbox.moe/qt8zrs.cur") 0 16, auto; */
}

.wip::after,
.new::after {
	right: -31px;
	top: 6px;
}

body {
	font-family: "Monocraft", Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	max-height: 100vh;
	background-image: url("/assets/img/mist.jpg");
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	backdrop-filter: blur(3px);
	overflow: hidden;
}

#health-warning {
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 300px;
	background-image: linear-gradient(to right, #d20f39, #fe640b, #df8e1d, #40a02b, #04a5e5, #8839ef);
	background-size: 400% 400%;
	animation: rainbow 5s ease infinite, rainbow-reverse 5s ease infinite;
	animation-delay: 0s, 5s;
	text-align: center;
	border-radius: 10px;
	margin-bottom: -38px;
	padding: 3px;
	overflow: hidden;
	opacity: 0.3;
	transition: 2s ease-out;
	outline: 5px dashed #000;
	box-shadow: 0 0 0 5px #ffff00;
	transform: translateX(50%);
	z-index: 900;
}

#health-warning:hover,
#health-warning.active {
	opacity: 1;
	transition: 0.1s linear;
	margin-bottom: 10px;
}

.warning-header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	color: red;
	margin: auto;
	text-shadow: -1px 0px 0px #000, 1px 0px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000;
	justify-items: center;
	overflow: hidden;
}

.warning-header h3 {
	text-align: center;
	font-size: 1.6rem;
	margin-top: 25px;
	margin-left: 15px
}

.warning-header img {
	display: inline-block;
	margin: auto;
}

#health-warning p {
	color: #fff;
	text-shadow: -1px 0px 0px #aaaaaa, 1px 0px 0px #aaaaaa, 0px -1px 0px #aaaaaa, 0px 1px 0px #aaaaaa;
	font-size: 0.8rem;
}

@keyframes rainbow {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 100%;
	}
}

@keyframes rainbow-reverse {
	0% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 0% 0%;
	}
}

.chat-stuff {
	position: absolute;
	margin: 10px;
	width: 300px;
}

#chat-container {
	z-index: 900;
}

#chatbox {
	border-radius: 10px 10px 10px 10px;
	height: 0px;
	transition: ease .2s;
}

#chat-btn-container {
	z-index: 901;
}

#chat-btn {
	margin: 0px;
	border: none;
	border-radius: 10px 10px 10px 10px;
	cursor: var(--cursor-pointer);
	background-color: rgb(var(--ruby));
	font-size: 1.3rem;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

#chat-btn:active {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

#pet {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	background-size: cover;
	pointer-events: none;
}

.pet-container {
	position: fixed;
	width: 20px;
	height: 20px;
	background-size: cover;
	z-index: 999;
}

@keyframes fox_run_side {
	0% {
		background-image: url("/assets/img/fox_pet/walk_side.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/walk_side_2.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/walk_side.png");
	}
}

@keyframes fox_run_diag_down {
	0% {
		background-image: url("/assets/img/fox_pet/walk_diag_down.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/walk_diag_down_2.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/walk_diag_down.png");
	}
}

@keyframes fox_run_diag_up {
	0% {
		background-image: url("/assets/img/fox_pet/walk_diag_up.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/walk_diag_up_2.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/walk_diag_up.png");
	}
}

@keyframes fox_run_up {
	0% {
		background-image: url("/assets/img/fox_pet/walk_up.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/walk_up_2.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/walk_up.png");
	}
}

@keyframes fox_run_down {
	0% {
		background-image: url("/assets/img/fox_pet/walk_down.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/walk_down_2.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/walk_down.png");
	}
}

@keyframes fox_lay_down {
	0% {
		background-image: url("/assets/img/fox_pet/stand_side.png");
	}

	25% {
		background-image: url("/assets/img/fox_pet/sit_side.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/lay_side.png");
	}
}

@keyframes fox_wake {
	0% {
		background-image: url("/assets/img/fox_pet/lay_alert.png");
	}

	25% {
		background-image: url("/assets/img/fox_pet/lay_alert.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/stretch.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/stretch.png");
	}
}

@keyframes fox_search {
	0% {
		background-image: url("/assets/img/fox_pet/search_sit.png");
	}

	25% {
		background-image: url("/assets/img/fox_pet/search_left.png");
	}

	50% {
		background-image: url("/assets/img/fox_pet/search_right.png");
	}

	100% {
		background-image: url("/assets/img/fox_pet/search_sit.png");
	}
}

.north {
	background-image: url("/assets/img/fox_pet/walk_up.png");
	transform: translate(-10%, -10%);
	animation: fox_run_up 0.5s step-start infinite;
}

.south {
	background-image: url("/assets/img/fox_pet/walk_down.png");
	transform: translate(-10%, -10%);
	animation: fox_run_down 0.5s step-start infinite;
}

.east {
	background-image: url("/assets/img/fox_pet/walk_side.png");
	transform: translate(-10%, -10%);
	animation: fox_run_side 0.5s step-start infinite;
}

.west {
	background-image: url("/assets/img/fox_pet/walk_side.png");
	transform: translate(-10%, -10%) rotateY(180deg);
	animation: fox_run_side 0.5s step-start infinite;
}

.north-east {
	background-image: url("/assets/img/fox_pet/walk_diag_up.png");
	transform: translate(-10%, -10%) rotateY(180deg);
	animation: fox_run_diag_up 0.5s step-start infinite;
}

.north-west {
	background-image: url("/assets/img/fox_pet/walk_diag_up.png");
	transform: translate(-10%, -10%);
	animation: fox_run_diag_up 0.5s step-start infinite;
}

.south-east {
	background-image: url("/assets/img/fox_pet/walk_diag_down.png");
	transform: translate(-10%, -10%);
	animation: fox_run_diag_down 0.5s step-start infinite;
}

.south-west {
	background-image: url("/assets/img/fox_pet/walk_diag_down.png");
	transform: translate(-10%, -10%) rotateY(180deg);
	animation: fox_run_diag_down 0.5s step-start infinite;
}

.fox_lay {
	background-image: url("/assets/img/fox_pet/lay_side.png");
	transform: translate(-10%, -10%);
	animation: fox_lay_down 4s step-start 1;
}

.fox-wake {
	background-image: url("/assets/img/fox_pet/lay_side.png");
	transform: translate(-10%, -10%);
	animation: fox_wake 4s step-start 1;
}

.fox-search {
	background-image: url("/assets/img/fox_pet/search_sit.png");
	transform: translate(-10%, -10%);
	animation: fox_search 4s step-start infinite;
}

#based-bnuy {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 420;
}

#based-bnuy #bnuy {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#based-bnuy #muni {
	display: none;
	position: absolute;
	max-width: 120px;
	bottom: 0px;
	right: 0px;
	margin-bottom: -10px;
	margin-right: 15px;
	z-index: 421;
}

#based-bnuy p {
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: 1.2rem;
	color: red;
	display: none;
	position: absolute;
}

.blink {
	animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

#based-bnuy #cash {
	width: 100px;
	right: 70px;
	bottom: 150px;
	transform: rotate(-15deg);
}

#based-bnuy #luc {
	width: 100px;
	right: 120px;
	bottom: 50px;
	transform: rotate(15deg);
}

#based-bnuy:hover #muni,
#based-bnuy:hover #cash,
#based-bnuy:hover #luc {
	display: block;
}

#construction {
	font-family: Arial, sans-serif;
	position: absolute;
	bottom: 20px;
	left: 10px;
	width: 200px;
	overflow: visible;
	transform: skew(15deg) rotate(10deg);
	z-index: 420;
}

#construction #paradox {
	display: none;
	position: absolute;
}

body:has(#construction:hover) {
	background-color: #fff;
	animation: chaos 0.05s linear infinite;
}

body:has(#construction:hover) #paradox {
	display: block;
	bottom: 0px;
	left: 0px;
}

#construction h2 {
	position: absolute;
	margin-top: 30px;
}

.header>* {
	padding: 10px 10px;
}

.header>img {
	max-height: 132%;
}

.container {
	display: grid;
	grid-template-columns: 5% 25% 40% 25% 5%;
	grid-template-rows: 150px 70.5% 50px 100px;
	grid-template-areas:
		". header header header ."
		". sidebar-left main-content sidebar-right ."
		". footer footer footer ."
		". . . . .";
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	margin: auto;
	overflow: hidden;
}

.header {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: center;
	font-family: "The Heart of Everything Demo";
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

#footer {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 3;
	justify-self: center;
	width: 70%;
	background-image: linear-gradient(90deg, rgba(var(--ruby), 0.5), rgba(var(--surface-1), 0.5), rgba(var(--ruby), 0.5));
	box-shadow: 0 0 30px rgba(var(--ruby), 0.8);
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	border-radius: 20px;
}

#the-depths-of-hell {
	position: relative;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 4;
	justify-self: center;
	width: 100%;
	height: 100px;
	pointer-events: none;
	overflow: hidden;
}

.main-content {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	position: relative;
	min-width: 525px;
	position: relative;
	background-color: rgba(var(--surface-1), 0.5);
	margin-top: 0px;

	border-top: var(--edge-thickness) solid rgb(var(--edge-color));
	border-bottom: var(--edge-thickness) solid rgb(var(--edge-color));
}

.main-content::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 17%;
	border-left: var(--edge-thickness) solid rgb(var(--edge-color));
}

.sidebar {
	display: grid;
	overflow: visible;
	max-width: 332px;
}

.sidebar-left {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: end;
	position: relative;
	grid-template-rows: 50% 50%;
	width: 100%;
	background-image: linear-gradient(to right,
			rgba(var(--ruby), var(--background-opacity)),
			rgba(var(--surface-1), var(--background-opacity)));
	border-radius: 10px 0px 0px 10px;
	position: relative;

	border-top: var(--edge-thickness) solid rgb(var(--edge-color));
	border-left: var(--edge-thickness) solid rgb(var(--edge-color));
	border-bottom: var(--edge-thickness) solid rgb(var(--edge-color));
}

.sidebar-left::after {
	position: absolute;
	content: "";
	height: 5rem;
	bottom: calc(-5rem - var(--edge-thickness));
	box-shadow: var(--edge-thickness) calc(var(--edge-thickness) * -1) 0 0 rgb(var(--edge-color));
	width: 100%;
	border-top-right-radius: 10px;
}

.main-content::before,
.sidebar-left::after {
	display: none;
}

.sidebar-right {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 2;
	justify-self: start;
	position: relative;
	grid-template-columns: 0% 100%;
	grid-template-rows: 60px 35% 15% 40%;
	background-image: linear-gradient(to left,
			rgba(var(--ruby), var(--background-opacity)),
			rgba(var(--surface-1), var(--background-opacity)));
	overflow: visible;
	border-radius: 0px 10px 10px 0px;

	border-top: var(--edge-thickness) solid rgb(var(--edge-color));
	border-right: var(--edge-thickness) solid rgb(var(--edge-color));
	border-bottom: var(--edge-thickness) solid rgb(var(--edge-color));
}

#sidebar-right-toggle {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 1 / -1;
	justify-self: center;
	align-self: center;
	user-select: none;
	background-image: linear-gradient(to left,
			rgba(var(--ruby), 0.9),
			rgba(var(--surface-1), 0.9));
	width: 100%;
	height: 132px;
	padding-top: 50%;
	padding-bottom: 50%;
	padding-left: 3px;
	border-radius: 5px 0px 0px 5px;
}


.sidebar-right-toggle-button {
	font-size: 1.2rem;
	position: absolute;
	top: 50%;
	writing-mode: vertical-rl;
	transform: rotate(180deg) translateY(50%);
}

.sidebar-right-toggle-button:hover {
	transform: rotate(180deg) translateY(50%) scale(1.1);
}

.sidebar-right-toggle-button::before,
.sidebar-right-toggle-button::after {
	position: absolute;
	font-family: "SymbolsNerdFont-Regular";
	content: "󰄼";
	transform: rotate(-90deg);
}

#sidebar-right-toggle,
.sidebar-right-toggle-button,
.sidebar-right-toggle-button.active::before,
.sidebar-right-toggle-button.active::after {
	width: 100%;
}

.sidebar-right-toggle-button.active::before,
.sidebar-right-toggle-button.active::after {
	transform: rotate(90deg);
}

.sidebar-right-toggle-button::before {
	bottom: 5rem;
}

.sidebar-right-toggle-button::after {
	top: 5rem;
}


.sidebar-right p {
	margin-bottom: 5px;
}

.main-content #posts {
	height: 100%;
	padding: 10px 10px 0px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.main-content #posts .content-card.pinned {
	position: relative;
}

.main-content #posts .content-card.pinned::after {
	content: "";
	background-image: url("/assets/img/pin.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: .2rem;
	right: .2rem;
	width: 2.5rem;
	height: 2.5rem;
}

.main-content #posts .content-card:last-child {
	margin-bottom: 0px;
}

.content-card {
	background-color: rgba(var(--surface-2), 0.6);
	padding: 20px;
	border: 1px solid rgba(var(--surface-2), 0.6);
	border-radius: 10px;
	margin-bottom: 10px;
}

.content-head {
	display: grid;
	grid-template-columns: minmax(5rem, 76px) auto;
}

.content-head .content-head-image-container {
	height: 6rem;
	max-height: 76px;
	aspect-ratio: 1/1;
	border-radius: .5rem;
	overflow: hidden;
	position: relative;
}

.content-head .content-head-image-container>img {
	object-fit: contain;
	height: 100%;
}

.content-card h2 {
	margin: auto;
	margin-left: 0px;
	padding-left: 10px;
	font-size: 2rem;
}

.content-card p {
	margin-bottom: 20px;
	padding-left: 5px;
	text-align: justify;
	text-justify: inter-character;
	font-size: 1.5rem;
}

.content-card .accent {
	border-left: 4px solid rgba(var(--surface-1));
	padding-left: 10px;
}

.content-card hr {
	border-top: 3px dashed rgba(var(--ruby));
	border-bottom: none;
	margin: 10px 0px;
}

.content-card ol,
.content-card ul {
	margin-left: 31px;
	text-align: justify;
}

.content-preview,
.content-body {
	font-family: "Monaspace-Neon-Frozen";
}

.content-body {
	overflow-y: hidden;
	max-height: 0;
	transition-property: max-height;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 2);
}

.media-card {
	width: 95%;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgb(var(--ruby));
	border-radius: 5px;
}

.media-card-title {
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	padding-bottom: .2rem;
}

.media-card-title h4 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.media-card-title .media-card-download-button {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: end;
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
}

.media-card-title .media-card-download-button::before {
	content: "";
	font-family: "SymbolsNerdFont-Regular";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.1rem;
	color: black;
}

.media-card img {
	width: 100%;
}

.media-card img,
.media-card video {
	width: 100%;
	display: inline-block;
	margin: auto;
}

.download-flex-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
	justify-content: center;
	gap: 1rem;
	padding: 0.5rem 0;
}

.file-download {
	aspect-ratio: 1/1.19;
	border: 1px dashed rgba(235, 235, 235, 0.7);
	background-color: rgba(235, 235, 235, 0.2);
	text-decoration: none;
	display: grid;
	grid-template-rows: 1fr auto;
	overflow: hidden;
	cursor: var(--cursor-pointer);
	user-select: none;
}

.file-download:hover {
	transform: scale(1.02);
	transition: transform 0.2s ease-out;
}

.file-download .file-download-icon {
	position: relative;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: "SymbolsNerdFont-Regular";
	color: rgb(235, 235, 235);
	width: 100%;
	text-align: center;
	cursor: inherit;

	z-index: 5;
}

.file-download .file-download-icon img {
	object-fit: cover;
	height: 100%;
	background-color: rgb(var(--ruby));
	z-index: 5;
}

.file-download:hover .file-download-icon img {
	transition: filter 0.4s ease-in;
	filter: blur(3px);
}

.file-download .file-download-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 6rem;
	opacity: 70%;
	z-index: -1;
	transform: translate(-50%, -50%);
	text-shadow: -.3rem .3rem 0 rgba(0, 0, 0, 0.3);
}

.file-download.image-download .file-download-icon::before {
	content: "";
}

.file-download .file-download-icon::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.1rem 0.3rem;
	font-size: 1.2rem;
	opacity: 0%;
	z-index: 10;
	background-color: rgba(var(--ruby), 0.8);
	border-radius: 0 0 0 5px;
}

.file-download:hover .file-download-icon::before {
	z-index: 1;
}

.file-download:hover .file-download-icon::before,
.file-download:hover .file-download-icon::after {
	transition: opacity 0.4s ease-in;
	opacity: 70%;
}

.file-download p {
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	padding: 0.1rem;
	background-color: rgba(235, 235, 235, 0.4);
	color: #000;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	user-select: none;
	cursor: inherit;
	z-index: 10;
}

.media-side {
	position: relative;
	padding-top: 5px;
	padding-bottom: 0px;
	align-content: center;
}

.media-side .media {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 5px;
	width: 30%;
	max-width: 30%;
}

.media-side .media img {
	object-fit: cover;
	width: 100%;
}

.content-body.active {
	max-height: 10000px;
	transition-property: max-height;
	transition-duration: 1.8s;
	transition-timing-function: ease;
}

.censor {
	cursor: var(--cursor-pointer);
}

.content-expand {
	grid-column-start: 2;
	grid-column-end: 3;
	border: none;
	background-color: transparent;
	margin: auto;
	margin-top: 4px;
	padding: 5px;
	text-align: center;
	align-self: center;
	width: 100%;
}

.hidden-content-expand {
	display: none;
	background-image: radial-gradient(rgba(var(--ruby), 0.5), rgba(var(--ruby), 0) 80%);
}

.content-expand::before,
.content-expand::after {
	font-family: "SymbolsNerdFont-Regular";
	content: "󰄼";
	padding-bottom: 2px;
}

.content-expand:hover {
	color: rgb(var(--ruby));
	font-weight: bold;
}

.content-expand.active::before,
.content-expand.active::after {
	transform: scale(1, -1);
	display: inline-block;
}

.content-footer {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	height: 30px;
	font-size: 1rem;
	margin-top: 10px;
}

.content-footer .expand-border {
	border-top: 3px dashed rgba(var(--ruby));
	width: 100%;
	margin-top: 17px;
}

.content-footer-section {
	margin: auto;
}

.content-footer.active .expand-border {
	border-top: 2px solid rgba(var(--ruby));
}

.expand-border-left {
	grid-column-start: 1;
	grid-column-end: 2;
}

.expand-border-right {
	grid-column-start: 3;
	grid-column-end: 4;
}

.content-footer-left {
	border-top: 3px dashed rgba(var(--ruby));
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 2;
	position: relative;
	justify-self: start;
	display: flex;
	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-top: -17px;
	font-size: 0.8rem;
}

.content-footer-center {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	display: grid;
	grid-template-columns: 1fr 70px 1fr;
	margin: -20px auto 20px auto;
	width: 100%;
}

.content-footer-right {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row: 2;
	align-items: center;
	justify-self: end;
	font-family: "Monaspace-Neon-Frozen";
	font-size: 1.1rem;
	text-align: right;
	margin-right: 0px;
	margin-left: 0px;
	width: 200px;
	margin-top: -17px;
}

.content-footer .timestamp-dropdown {
	position: absolute;
	overflow: hidden;
	min-width: 10.5rem;
	width: 10.5rem;
	margin-top: -.2rem;
	padding-top: .2rem;
	margin-right: -.5rem;
	padding-right: .5rem;
	padding-bottom: .2rem;
	right: 0;
	z-index: 8;
	max-height: 1.8rem;
	border-radius: .5rem;
	transition: linear .2s;
}

.content-footer .timestamp-dropdown .post-timestamp-formatted {
	position: relative;
	user-select: none;
	cursor: var(--cursor-default);
}

.content-footer .timestamp-dropdown .post-timestamp-formatted::before {
	position: absolute;
	font-family: "SymbolsNerdFont-Regular";
	opacity: 0%;
	top: -.2rem;
	left: -1.5rem;
	transition: linear .2s;
}

.content-footer .timestamp-dropdown .post-posted .post-timestamp-formatted::before {
	font-size: 1.4rem;
	content: "󰅐 ";
}

.content-footer .timestamp-dropdown>.post-update~.post-update .post-timestamp-formatted::before {
	content: "├";
}

.content-footer .timestamp-dropdown>.post-update:last-of-type .post-timestamp-formatted::before {
	content: "└";
}

.content-footer .timestamp-dropdown>.post-update:nth-child(2) .post-timestamp-formatted::before,
.content-footer .timestamp-dropdown>.post-update .post-timestamp-formatted::before {
	font-size: 1.55rem;
	content: "󰚰 ";
}

.update-badge {
	position: absolute;
	color: white;
	background-color: red;
	font-family: "Monaspace-Neon-Frozen";
	text-align: center;
	user-select: none;
	text-shadow: 0.2em 0.2em 5px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	font-size: .7rem;
	padding-top: .05rem;
	width: 1.1rem;
	height: 1.1rem;
	right: -0.8rem;
	bottom: .5rem;
	z-index: 9;
	transition: linear .2s;
}

.content-footer-right:hover .timestamp-dropdown,
.timestamp-dropdown:hover {
	max-height: 428px;
	transition: linear .2s;
	background-color: rgb(var(--ruby));
	outline: black solid 1.1px;
}

.content-footer-right .post-timestamp {
	display: none;
}

.content-footer-right:hover .timestamp-dropdown .post-timestamp-formatted::before,
.timestamp-dropdown:hover .post-timestamp-formatted::before {
	opacity: 100%;
	transition: linear .2s;
}

.content-footer-right:hover .update-badge,
.timestamp-dropdown:hover .update-badge {
	opacity: 0%;
}

.content-footer-left .tag {
	position: relative;
	font-family: "Monaspace-Neon-Frozen";
	text-align: center;
	background-color: rgba(var(--ruby), 1.0);
	padding-top: 3px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 8px;
	border: 1px solid #000;
	border-radius: 12px;
	margin: 2px;
	max-height: 23px;
	width: fit-content;
	text-wrap: nowrap;
	user-select: none;
}

.content-footer-left .tag:before {
	content: "#"
}

.content-footer-left .tag-count {
	font-family: "Monaspace-Neon-Frozen";
	text-align: center;
	background-color: rgba(231, 227, 227, 0.8);
	padding: 2px;
	padding-right: 3px;
	border-radius: 10px;
	margin: 2px;
	transition: cubic-bezier(0.75, 0.13, 0.39, 1.15) .2s;
}

.content-footer-left .tag-count:before {
	content: "+";
}

.tag-dropdown {
	position: absolute;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	flex-direction: row;
	min-width: 270px;
	width: 270px;
	margin-top: -5px;
	z-index: 8;
	max-height: 27px;
	transition: cubic-bezier(0.075, 0.2, 0.165, 0.12) .8s;
}

.content-footer-left:hover .tag-dropdown,
.content-footer-left .tag-dropdown.active {
	max-height: 428px;
}

.content-footer-left:hover .tag-count,
.content-footer-left .tag-dropdown.active .tag-count {
	opacity: 0%;
}

#mushie {
	position: absolute;
	max-width: 120px;
	bottom: 0px;
	right: -60px;
	transform: rotate(5deg);
}

#flowie {
	position: absolute;
	max-width: 100px;
	bottom: 10px;
	left: -60px;
	transform: rotate(10deg);
}

.overlay-image {
	z-index: 100;
}

.overlay-image:hover {
	opacity: 0.5;
}

.sidebar-content>a {
	display: flex;
	color: #000;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.sidebar-content {
	margin: 11px;
	width: 95%;
}

.sidebar-content-left {
	margin-left: 11px;
}

.sidebar-content-right {
	width: fit-content;
}

#index-items {
	background-color: rgba(var(--ruby), 0.5);
	width: 95%;
	height: 97%;
	border-radius: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	z-index: 100;
	overflow-y: scroll;
}

.index-item h3 {
	font-family: "The Heart of Everything Demo";
	font-size: 3rem;
	margin-top: -9px;
	margin-bottom: 0px;
	margin-left: 10px
}

.index-item-image {
	border-radius: 25%;
	max-height: 64px;
	max-width: 64px;
	overflow: hidden;
}

.index-item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#shrines img {
	width: 64px;
	object-position: 25% 25%;
	object-fit: cover;
}

.contact-section-container {
	padding-bottom: 10px;
}

.contact-sections {
	display: flex;
	flex-wrap: wrap;
}

.contact-section {
	position: relative;
	margin-top: 5px;
	margin-right: 10px;
}

.contact-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	padding-left: 10px;
	padding-right: 5px;
}

.contact-button {
	position: absolute;
	padding: 3px;
	min-width: 15px;
	min-height: 15px;
	font-size: 1.2rem;
	right: 0;
}

.contact-button .icon {
	text-decoration: none;
	color: black;
}

#mail-logo,
#crypto-logo {
	width: 48px;
	border-radius: 25%;
}

#email-section {
	display: flex;
}

.contact-section {
	display: flex;
	align-items: center;
	width: 100%;
}

#socials .heading {
	margin-bottom: 5px;
}

#social-badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 0.5rem;
	width: 109%;
}

#social-badges img {
	width: 88px;
	height: 31px;
	margin-right: 2px;
}

#webrings {
	justify-content: center;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

.webring {
	display: flex;
	font-family: "SymbolsNerdFont-Regular";
	margin: auto;
	margin-top: 5px;
	justify-content: center;
}

.webring a {
	display: inline-block;
	color: black;
	font-size: 1.5rem;
	text-decoration: none;
}

.ring-prev:hover,
.ring-next:hover {
	transform: scale(1.1);
}

.ring-home {
	margin: 0px 10px;
}

#my-site {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	padding-top: 10px;
}

#foxden-badge {
	margin: auto;
	width: 100%;
	margin-top: 0;
	padding-right: 6%;
}

#foxden-badge a {
	margin: auto;
	width: fit-content;
}

#foxden-badge img {
	display: inline-block;
}

#social-stuff {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

.social-flex {
	display: flex;
	flex-wrap: wrap;
}

#badges-container {
	display: grid;
	grid-template-rows: 50px 1fr;
	width: 98%;
	max-height: 365px;
	background-color: rgba(255, 150, 210, 0.4);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 6px;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
}

#badges {
	overflow: scroll;
	scrollbar-width: none;
	justify-content: center;
	padding: 5px;
	padding-top: 10px;
}

#badges-header {
	font-family: "The Heart of Everything Demo";
	font-size: 1.7rem;
	text-align: center;
	max-height: 50px;
	height: 50px;
	background-image: linear-gradient(0deg, rgba(var(--ruby)), rgba(var(--surface-1)));
	opacity: 80%;
	border-radius: 8px;
}

#badges-header .heading {
	width: fit-content;
	margin: auto;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(-5px);
	}

	50% {
		transform: translateY(-10px);
	}

	80% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0);
	}
}

.badge-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}

.index-item {
	height: 64px;
	width: fit-content;
}

.tilt:hover img {
	animation: wiggle 0.7s linear infinite;
}

.tilt:hover h3 {
	animation: jitter 0.9s step-start infinite;
}

@keyframes jitter {
	0% {
		transform: rotate(0deg) translateX(6px);
	}

	20% {
		transform: rotate(8deg) translateY(2px) translateX(9px);
	}

	40% {
		transform: rotate(11deg) translateY(11px) translateX(2px);
	}

	60% {
		transform: rotate(-7deg) translateY(5px) translateX(7px);
	}

	100% {
		transform: rotate(-2deg) translateY(7px) translateX(1px);
	}
}

@keyframes wiggle {
	0% {
		background-position: 0 0;
		background-size: 100%;
		rotate: 0deg;
	}

	25% {
		rotate: 10deg;
	}

	50% {
		background-position: 100% 120%;
		background-size: 200%;
		rotate: 0deg;
	}

	75% {
		rotate: -10deg;
	}

	100% {
		background-position: 0 0;
		background-size: 100%;
		rotate: 0deg;
	}
}

@keyframes chaos {
	0% {
		background-position: 0 0;
		rotate: 0deg;
	}

	25% {
		rotate: 1deg;
	}

	50% {
		background-position: 1% 1%;
		rotate: 0deg;
	}

	75% {
		rotate: -1deg;
	}

	100% {
		background-position: 0 0;
		rotate: 0deg;
	}
}

@media (max-width: 1323px) {

	.container {
		grid-template-columns: 1% 20% 58% 20% 1%;
	}

	.sidebar-left {
		grid-template-rows: auto 140px;
		height: 80%;
		width: 97px;
		min-width: 97px;
	}

	.main-content::before,
	.sidebar-left::after {
		display: block;
	}

	.sidebar-content {
		margin: 11px;
	}

	.overlay-image {
		height: 110px;
	}

	#flowie,
	#mushie {
		bottom: -50px;
	}

	.social-flex {
		justify-content: center;
	}

	#webrings.heading,
	#webrings.webring {
		margin: auto;
	}

	#index-items {
		width: 85px;
		padding: 0px 0px 10px 10px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.index-item+.new::after {
		right: -8px;
		top: 18px;
	}

	.index-item {
		margin: 0;
		margin-top: 10px;
	}

	#update-container {
		height: fit-content;
		display: flex;
		width: 70px;
		align-self: end;
		margin-left: 1.2rem;
		margin-right: auto;
		z-index: 100;
	}

	#update-header {
		border-radius: 5px 5px 5px 5px;
	}

	.index-item h3 {
		display: none;
	}

	.main-content {
		min-width: 442px;
		border-bottom-left-radius: 10px;
	}

	.contact {
		margin: 0.1rem;
	}

	#footer {
		width: 60%;
	}

	.update-link {
		display: none;
	}

	#update-icon {
		display: block;
	}

	#postit {
		display: none;
	}

	#updates,
	#updates.active,
	#todo-list,
	#todo-list.active {
		display: none;
	}

	.update-icon-link,
	.rss-link {
		margin: auto;
	}

	.ring-next,
	.ring-prev {
		padding: 0;
		margin: 0;
	}

	.heading {
		text-align: center;
	}

	.contact-section-container {
		justify-content: center;
		margin-left: -5px;
	}

	#social-badges {
		margin-left: -2px;
		width: 100%;
	}

	.contact-section {
		position: relative;
		margin-top: 5px;
		width: fit-content;
	}

	.contact-label {
		display: none;
	}

	.contact-button {
		position: absolute;
		padding: 2px;
		font-size: 0.9rem;
		outline: 1px solid rgba(255, 255, 255, 0.6);
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 25%;
		top: -3px;
		right: -3px;
	}

	.contact-button .icon {
		color: black;
	}

	#mail-logo,
	#crypto-logo {
		position: relative;
		width: 64px;
		border-radius: 25%;
	}
}

@media (max-width: 1160px) {
	.container {
		padding-top: 25px;
	}
}

@media (max-width: 940px) {

	.sidebar-right {
		grid-template-rows: 60px 2fr 2fr 70px;
	}

	#badges-container {
		height: 100%;
		align-self: end;
	}

	#badges {
		display: none;
	}
}

@media (max-width: 782px) {
	:root {
		font-size: 0.9em;
	}

	.main-content {
		min-width: 320px;
	}

	.tag-dropdown {
		width: 270px;
		min-width: 270px;
	}

}

@media (max-width: 761px) {
	:root {
		font-size: 0.8em;
	}

	#based-bnuy,
	#construction {
		display: none;
	}

	.container {
		grid-template-columns: 0% 15% 70% 15%;
	}

	.overlay-image {
		height: 110px;
	}

	.sidebar-content {
		margin: 6px;
		width: 100%;
	}

	.sidebar {
		padding: 0px;
		margin: 0px;
	}

	.sidebar-left {
		width: 60px;
		min-width: 60px;
		padding: 1px;
	}

	.index-item+.new::after {
		right: -8px;
		top: 12px;
	}

	.sidebar-right {
		grid-template-columns: 10% 90%;
		grid-template-rows: 60px 2fr 2fr 40%;
		position: fixed;
		top: 0;
		right: 0;
		width: 250px;
		height: 100vh;
		z-index: 950;
		background-image: none;
		transform: translateX(90%);
		transition: transform 0.3s ease-in-out;
		border: none;
	}

	#my-site,
	#social-stuff,
	#webrings {
		background-image: linear-gradient(to left,
				rgba(var(--ruby), 0.9),
				rgba(var(--surface-1), 0.9));
	}

	#webrings {
		border-bottom-left-radius: 10px;
	}

	.sidebar-right.active {
		transform: translateX(0);
	}

	#sidebar-right-toggle {
		display: block;
	}

	#index-items {
		width: 56px;
		margin: 6px;
		height: 105%;
		min-height: 56px;
		margin-top: .6rem;
	}

	.main-content {
		min-width: 280px;
		border-right: var(--edge-thickness) solid rgb(var(--edge-color));
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.content-card {
		padding: 5px;
	}

	.content-card hr {
		margin: 4px 0;
	}

	.content-footer-left .tag {
		max-height: 20px;
		padding-top: 0px;
		padding-bottom: 1px;
		padding-right: 4px;
		padding-left: 5px;
	}

	.tag-dropdown {
		max-height: 20px;
		width: 270px;
		min-width: 270px;
	}

	.index-item {
		width: 48px;
		height: 48px;
		margin: 0;
		padding: 0;
		margin-top: .3rem;
		margin-left: -0.4rem;
	}

	.index-item img {
		height: 48px;
		object-fit: cover;
	}

	.update-icon-link,
	.rss-link {
		margin: auto;
	}

	#update-container {
		width: 56px;
		margin-left: 0.5rem;
	}

	#badges-container {
		grid-template-rows: 20% 80%;
		width: 98%;
		max-height: 365px;
		margin-top: 5px;
	}

	#badges {
		display: block;
	}

	.chat-stuff {
		margin: 5px;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 532px) {
	.tag-dropdown {
		width: 170px;
		min-width: 170px;
	}
}

@media (max-height: 818px) {

	.sidebar-right {
		overflow-y: scroll;
	}
}

@media (max-height: 818px) and (min-width: 761px) {

	#based-bnuy {
		display: none;
	}

	#update-container {
		height: fit-content;
		align-self: end;
	}

	#postit,
	#postit.active,
	#updates,
	#updates.active {
		display: none;
	}

	.container {
		grid-template-rows: 150px 60% 50px 100px;
	}

	#index-items {
		height: 100%;
		overflow-y: auto;
	}

	.sidebar-right {
		grid-template-rows: 60px 2fr 1.5fr 5%;
	}

	#mail-logo,
	#crypto-logo {
		width: 64px;
	}

	.contact-section {
		width: fit-content;
	}

	.contact-label {
		display: none;
	}

	.contact-button {
		position: absolute;
		padding: 2px;
		font-size: 0.9rem;
		outline: 1px solid rgba(255, 255, 255, 0.6);
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 25%;
		top: -3px;
		right: -3px;
	}

	.contact-button .icon {
		color: black;
	}

	#badges-container {
		height: fit-content;
		align-self: end;
	}

	#badges {
		display: none;
	}

}

@media (min-width: 1323px) and (max-height: 818px) {

	.sidebar-left {
		grid-template-rows: auto 85px;
	}

	.sidebar-right {
		grid-template-rows: 60px 2fr 2fr 70px;
	}

	#socials {
		width: 50%;
	}
}

@media (max-width: 761px) and (max-height: 600px) {

	.sidebar-right {
		grid-template-rows: 60px 2fr 2fr 70px;
	}

	#badges-container {
		height: fit-content;
		align-self: end;
	}

	#badges {
		display: none;
	}
}

@media (max-width: 532px) and (max-height: 818px) {
	.container {
		grid-template-rows: 80px 70% 50px 80px;
	}
}

@media (max-height: 721px) {
	.container {
		grid-template-rows: 80px 62% 10% 10%;
	}

	#health-warning {
		left: 10px;
		transform: translateX(0);
	}
}

@media (max-height: 550px) {
	.container {
		grid-template-rows: 20% 62% 10% 5%;
	}
}

@media (max-height: 453px) {

	.container {
		grid-template-rows: 20% 62% 12% 3%;
	}

	#foxden-badge img {
		height: 36px;
	}

	#mail-logo,
	#crypto-logo {
		width: 48px;
		border-radius: 25%;
	}

	.sidebar-left {
		height: initial;
	}

	.sidebar-right {
		grid-template-rows: 48px 2fr 1fr 70px;
	}

	#badges-header .heading {
		font-size: 1.7rem;
	}

	#flowie {
		left: -120px;
	}

	#construction {
		display: none;
	}
}
