#update-container {
	display: grid;
	grid-template-rows: 50px auto;
	height: 94%;
	/* max-height: 325px; */
	border: 2px solid color-mix(var(--colorscheme-surface), transparent 40%);
	border-radius: 10px;
}

#update-header {
	position: relative;
	font-family: "Monocraft";
	display: flex;
	flex-wrap: wrap;
	background-color: color-mix(var(--colorscheme-surface), transparent 50%);
	border-radius: 5px 5px 0px 0px;
	width: 100%;
}

#update-icon {
	display: none;
	margin-right: auto;
	font-size: 46px;
	user-select: none;
}

#update-icon:hover {
	transform: scale(1.1);
}

.update-link {
	font-size: 34px;
	padding: 5px 0px;
	text-align: center;
	margin: auto;
	text-decoration: none;
	align-items: center;
}

#update-heading {
	left: 0;
	right: 0;
	cursor: var(--cursor-pointer);
	color: var(--colorscheme-fg);
}

#postit {
	position: absolute;
	right: -18px;
	top: 0px;
	width: 64px;
	height: 64px;
	z-index: 8;
	transform: rotate(20deg);
}

#postit:hover {
	transform: rotate(20deg) scale(1.1);
}

#postit.active {
	transform: rotate(20deg) scale(1.1);
}

#updates,
#todo-list {
	display: none;
	width: 100%;
	padding: 5px;
	overflow: scroll;
	scrollbar-width: none;
}

#updates.active,
#todo-list.active {
	display: block;
}
#todo-list {
	background-image: linear-gradient(to bottom, #000 1px, #f2d05c 1px);
	background-size: 100% 20px;
	background-attachment: local;
	background-repeat: repeat-y;
	background-position: 0 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#todo-list,
.postit-note {
	font-family: "Monaspace-Neon-Frozen";
	color: black;

	line-height: 20px;
	filter: blur(0.1px);
}

.postit-note {
	background-color: #f2d05c;
	position: relative;
	padding: 1.2em 0.8em 0.1em 0.3em;
}

.postit-note.optional:after {
	content: "?";
	font-size: 1.5em;
	position: absolute;
	top: 0.2em;
	right: 0.1em;
}

.postit-note > span > span {
	color: black;
}

#todo-list ul li:is(.complete, .cancelled) > span,
.postit-note:is(.complete, .cancelled) > span {
	text-decoration: line-through;
	text-decoration-thickness: 3px;
}

#todo-list ul,
#updates ul {
	padding-left: 1em;
}

#todo-list ul li {
	padding-left: 0.5em;
}

#todo-list ul li::marker {
	content: "󰄱";
	color: black;

	font-family: "SymbolsNerdFont-Regular";
	font-size: 1.1em;
	line-height: 1em;
}
#todo-list ul li.complete::marker {
	content: "󰱒";
	color: #118224;
}

#todo-list ul li.cancelled::marker {
	content: "󰅘";
}
#todo-list ul li.cancelled::marker,
#todo-list ul li.cancelled > span,
.postit-note.cancelled > span {
	color: #c90909;
}
#todo-list ul li.in-progress::marker {
	content: "";
	color: #a28d01;
}
#todo-list ul li.optional::marker {
	content: "";
}
#todo-list ul li.optional::marker,
.postit-note.optional:after {
	color: #158282;
}

.update {
	font-family: "Monocraft";
	background-color: var(--colorscheme-surface-light);
	outline: 4px dashed color-mix(var(--colorscheme-surface), transparent 30%);
	border-radius: 5px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 10px;
	z-index: 1;
	padding: 5px;
}

.update-date {
	font-weight: bold;
	font-size: 17px;
}

.update-desc {
	font-size: 15px;
	margin: 5px 0px;
}

#updates .update:nth-child(even) {
	margin-right: 20px;
	transform: rotate(0.7deg);
}

#updates .update:nth-child(odd) {
	margin-left: 20px;
	transform: rotate(-0.6deg);
}

.rss-link {
	margin-left: 5px;
	width: fit-content;
	height: fit-content;
}
