@import url("/css/fonts.css");

* {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	height: 100vh;
	width: 100%;
	background-color: rgb(255, 220, 255);
	overflow-x: hidden;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#canvas-tuah {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: -1; */
	pointer-events: none;
}

#flower-bed {
	position: fixed;
	display: flex;
	bottom: 0;
	width: 100%;
	height: 100px;
	margin: auto;
}

#flower-bed img {
	width: auto;
	height: 100%;
}

#flower-bed img:nth-child(even) {
	transform: rotateY(180deg);
}

.container {
	width: 90%;
	height: 100vh;
	margin: auto;
	display: grid;
}

.content-column {
	display: grid;
	grid-template-rows: auto 1fr;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
	width: 500px;
	height: 95%;
	overflow: hidden;
}

.scrollbox {
	overflow: scroll;
	scrollbar-width: none;
}

.header {
	background-image: linear-gradient(180deg, rgb(255, 220, 255) 80%, rgba(255, 220, 255, 0.0));
	margin: auto;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 2rem;
	position: sticky;
	top: 0;
}

.header h1 {
	font-family: "The Heart of Everything Demo";
	font-size: 72px;
}

.section {
	background-color: rgba(255, 165, 205, 0.4);
	border-radius: 1rem;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 1rem;
	height: fit-content;
}

.section * {
	width: 100%;
}

.divider {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.divider-one {
	background-image: url("/assets/img/fall divider by iingo on DA.png");
	height: 20px;
}

.divider-two {
	background-image: url("/assets/img/mapleleaves.gif");
	height: 60px;
}

.media-card {
	width: 93%;
	margin: auto;
	padding: 15px;
	background-color: rgb(255, 140, 180);
	border-radius: 10px;
}

.video-wrapper {
	position: relative;
	width: 99%;
	padding-bottom: 56.25%;
	/* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

.external::after {
	font-family: "SymbolsNerdFont-Regular";
	content: "";
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
