#jesse-board #yippee {
	position: absolute;
	width: 20%;
	aspect-ratio: 1/1;
	transform: rotate(-10deg);
}
#jesse-board.active #yippee {
	transition-delay: calc(var(--swipe-scale) * 0.2);
	bottom: 73%;
	right: 74%;
}

#jesse-board #yippee #bnuy-goober {
	position: absolute;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
}

#jesse-board #jesses-pins {
	position: absolute;
	height: 30%;
	aspect-ratio: 11/9;
}
#jesse-board.active #jesses-pins {
	transition-delay: calc(var(--swipe-scale) * 0.4);
	right: 2%;
	bottom: -3%;
}

#jesse-board #jesses-pins .jesse-pins {
	position: absolute;
	width: 33%;
}

#jesse-board #jesses-pins #illithid {
	right: 23%;
	bottom: 33%;
}

#jesse-board #jesses-pins #monk {
	right: 28%;
	bottom: 0%;
}

#jesse-board #jesses-pins #bard {
	right: 50%;
	bottom: 5%;
}

#jesse-board #jesses-pins #pochita {
	right: 0;
	bottom: 0;
}

#jesse-board #jesses-pins #pins1 {
	width: 59%;
	right: 41%;
	bottom: 23%;
}

#jesse-board #jesses-pins #doc {
	right: -3%;
	bottom: 51%;
}
