:root {
	color-scheme: light dark;
	--colorscheme-bg: light-dark(hsl(236 39% 85%), hsl(234 24% 23%));
	--colorscheme-bg-light: light-dark(hsl(228 23% 82%), hsl(228 23% 27%));
	--colorscheme-bg-dark: light-dark(hsl(232 25% 81%), hsl(232 25% 16%));
	--colorscheme-fg: light-dark(hsl(180 47% 11%), hsl(180 43% 93%));
	--colorscheme-fg-light: light-dark(hsl(231 32% 29%), hsl(231 45% 86%));
	--colorscheme-fg-dark: light-dark(hsl(234 19% 47%), hsl(235 26% 56%));
	--colorscheme-float: light-dark(hsl(229 27% 73%), hsl(228 23% 27%));
	--colorscheme-float-light: light-dark(hsl(229 40% 74%), hsl(227 23% 31%));
	--colorscheme-float-dark: light-dark(hsl(229 27% 59%), hsl(230 23% 21%));
	--colorscheme-surface: light-dark(hsl(234 61% 83%), hsl(234 27% 18%));
	--colorscheme-surface-light: light-dark(hsl(233 39% 80%), hsl(232 23% 27%));
	--colorscheme-surface-dark: light-dark(hsl(232 52% 80%), hsl(232 25% 16%));

	--colorscheme-accent: light-dark(hsl(323 84% 54%), hsl(323 84% 69%));
	--colorscheme-red: light-dark(hsl(356 87% 44%), hsl(356 87% 59%));
	--colorscheme-red-light: light-dark(hsl(356 82% 63%), hsl(356 82% 78%));
	--colorscheme-red-dark: light-dark(hsl(356 86% 26%), hsl(356 86% 41%));
	--colorscheme-green: light-dark(hsl(147 92% 37%), hsl(152 89% 59%));
	--colorscheme-green-light: light-dark(hsl(148 100% 47%), hsl(151 100% 63%));
	--colorscheme-green-dark: light-dark(hsl(152 58% 42%), hsl(152 58% 57%));
	--colorscheme-blue: light-dark(hsl(190 96% 48%), hsl(190 96% 63%));
	--colorscheme-blue-light: light-dark(hsl(191 98% 62%), hsl(191 98% 77%));
	--colorscheme-blue-dark: light-dark(hsl(190 85% 35%), hsl(190 85% 50%));
	--colorscheme-cyan: light-dark(hsl(167 79% 38%), hsl(176 95% 63%));
	--colorscheme-cyan-light: light-dark(hsl(177 98% 46%), hsl(177 98% 78%));
	--colorscheme-cyan-dark: light-dark(hsl(172 84% 18%), hsl(172 84% 33%));
	--colorscheme-pink: light-dark(hsl(323 84% 54%), hsl(323 84% 69%));
	--colorscheme-pink-light: light-dark(hsl(323 46% 50%), hsl(323 46% 65%));
	--colorscheme-pink-dark: light-dark(hsl(323 46% 41%), hsl(323 46% 56%));
	--colorscheme-purple: light-dark(hsl(255 79% 61%), hsl(255 79% 76%));
	--colorscheme-purple-light: light-dark(hsl(255 79% 61%), hsl(255 79% 76%));
	--colorscheme-purple-dark: light-dark(hsl(331 41% 12%), hsl(331 41% 27%));
	--colorscheme-yellow: light-dark(hsl(56.3, 97.3%, 29.2%), hsl(65 96% 79%));
	--colorscheme-yellow-light: light-dark(hsl(67 97% 73%), hsl(67 97% 88%));
	--colorscheme-yellow-dark: light-dark(hsl(67 46% 46%), hsl(67 46% 61%));
	--colorscheme-orange: light-dark(hsl(37.2, 98.1%, 41.6%), hsl(37 87% 79%));
	--colorscheme-orange-light: light-dark(hsl(37 86% 73%), hsl(37 86% 88%));
	--colorscheme-orange-dark: light-dark(hsl(36 89% 53%), hsl(36 89% 68%));
}
