:root {
	--colorscheme-bg: #212337;
	--colorscheme-bg-light: #292e42;
	--colorscheme-bg-dark: #171928;
	--colorscheme-fg: #ebfafa;
	--colorscheme-fg-light: #abb4da;
	--colorscheme-fg-dark: #3b4261;
	--colorscheme-float: #171928;
	--colorscheme-float-light: #292e42;
	--colorscheme-float-dark: #292e42;
	--colorscheme-surface: #22253b;
	--colorscheme-surface-light: #282b45;
	--colorscheme-surface-dark: #171928;
	--colorscheme-red: #f0313e;
	--colorscheme-red-light: #f16c75;
	--colorscheme-red-dark: #d00f1c;
	--colorscheme-green: #37f499;
	--colorscheme-green-light: #00fa82;
	--colorscheme-green-dark: #33c57f;
	--colorscheme-blue: #04d1f9;
	--colorscheme-blue-light: #39ddfd;
	--colorscheme-blue-dark: #10a1bd;
	--colorscheme-cyan: #04f9e8;
	--colorscheme-cyan-light: #34fdef;
	--colorscheme-cyan-dark: #0eaa97;
	--colorscheme-pink: #f265b5;
	--colorscheme-pink-light: #cb71a4;
	--colorscheme-pink-dark: #bf4f8e;
	--colorscheme-purple: #a48cf2;
	--colorscheme-purple-light: #a48cf2;
	--colorscheme-purple-dark: #722f55;
	--colorscheme-yellow: #f1fc79;
	--colorscheme-yellow-light: #f5fd9c;
	--colorscheme-yellow-dark: #c0c95f;
	--colorscheme-orange: #f7c67f;
	--colorscheme-orange-light: #f9d5a1;
	--colorscheme-orange-dark: #f5b75d;
}
