:root {
	--colorscheme-bg: #0d0208;
	--colorscheme-bg-dark: #113311;
	--colorscheme-bg-light: #003b00;
	--colorscheme-surface: #300e21;
	--colorscheme-surface-dark: #1c0813;
	--colorscheme-surface-light: #3c1129;
	--colorscheme-float: #027c14;
	--colorscheme-float-dark: #226622;
	--colorscheme-float-light: #03a41a;
	--colorscheme-fg: #dcdae0;
	--colorscheme-fg-light: #c0bad3;
	--colorscheme-fg-dark: #675e6d;
	--colorscheme-red: #ff0000;
	--colorscheme-red-light: #ff0000;
	--colorscheme-red-dark: #800000;
	--colorscheme-green: #00ff41;
	--colorscheme-green-light: #55ff55;
	--colorscheme-green-dark: #00db38;
	--colorscheme-blue: #0088ff;
	--colorscheme-blue-dark: #2323ff;
	--colorscheme-blue-light: #5cdcff;
	--colorscheme-cyan: #00ffff;
	--colorscheme-cyan-dark: #008080;
	--colorscheme-cyan-light: #00ebeb;
	--colorscheme-pink: #ff00ff;
	--colorscheme-pink-light: #ff00ff;
	--colorscheme-pink-dark: #ff00ff;
	--colorscheme-purple: #800080;
	--colorscheme-purple-dark: #800080;
	--colorscheme-purple-light: #800080;
	--colorscheme-yellow: #ffff00;
	--colorscheme-yellow-light: #ffff00;
	--colorscheme-yellow-dark: #808000;
	--colorscheme-orange: #e4d00a;
	--colorscheme-orange-light: #e4d00a;
	--colorscheme-orange-dark: #d08770;
}
