:root {
	color-scheme: light dark;
	--colorscheme-bg: light-dark(#dcdae0, #0d0208);
	--colorscheme-bg-light: light-dark(#c0bad3, #003b00);
	--colorscheme-bg-dark: light-dark(#675e6d, #113311);
	--colorscheme-surface: light-dark(#85dc85, #300e21);
	--colorscheme-surface-light: light-dark(#a5e5a5, #3c1129);
	--colorscheme-surface-dark: light-dark(#72d672, #1c0813);
	--colorscheme-float: light-dark(#81d88e, #027c14);
	--colorscheme-float-light: light-dark(#97f0a4, #03a41a);
	--colorscheme-float-dark: light-dark(#51c051, #226622);
	--colorscheme-fg: light-dark(#0d0208, #dcdae0);
	--colorscheme-fg-light: light-dark(#003b00, #c0bad3);
	--colorscheme-fg-dark: light-dark(#113311, #675e6d);
	--colorscheme-accent: light-dark(#55ff55, #1afd53);
	--colorscheme-red: light-dark(#ff0000, #ff0000);
	--colorscheme-red-light: light-dark(#ff0000, #ff0000);
	--colorscheme-red-dark: light-dark(#800000, #800000);
	--colorscheme-green: light-dark(#008c24, #1afd53);
	--colorscheme-green-light: light-dark(#55ff55, #1afd53);
	--colorscheme-green-dark: light-dark(#096320, #1afd53);
	--colorscheme-blue: light-dark(#0088ff, #59dafc);
	--colorscheme-blue-dark: light-dark(#0000ff, #59dafc);
	--colorscheme-blue-light: light-dark(#5cdcff, #59dafc);
	--colorscheme-cyan: light-dark(#00ffff, #28ffff);
	--colorscheme-cyan-light: light-dark(#00ebeb, #4cffff);
	--colorscheme-cyan-dark: light-dark(#008080, #00fafa);
	--colorscheme-pink: light-dark(#ff00ff, #ef18ef);
	--colorscheme-pink-light: light-dark(#ff00ff, #ef18ef);
	--colorscheme-pink-dark: light-dark(#ff00ff, #ef18ef);
	--colorscheme-purple: light-dark(#620080, #cf6cf2);
	--colorscheme-purple-light: light-dark(#7b00b8, #c33dee);
	--colorscheme-purple-dark: light-dark(#4d0052, #cd6cf2);
	--colorscheme-yellow: light-dark(#ffff00, #ffff1a);
	--colorscheme-yellow-light: light-dark(#ffff00, #ffff1a);
	--colorscheme-yellow-dark: light-dark(#737111, #dcdc00);
	--colorscheme-orange: light-dark(#e9740c, #f6e42f);
	--colorscheme-orange-light: light-dark(#c57d3e, #f6e42f);
	--colorscheme-orange-dark: light-dark(#d44f00, #d08770);
}
